<!DOCTYPE html>
<%= @notice %>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>AAA</title>
</head>
<body>

<div class="header">
  <%= link_to 'Praise me!', root_path, class:"title" %>
  <span class="char-select"><img src="/assets/char_01.png"></span>
  <span class="char-select"><img src="/assets/char_00.png"></span>
  <span class="char-select"><img src="/assets/char_00.png"></span>
  <span class="infomation"><%= fa_icon 'question-circle 2x' %></span>
  <aside class="infomation_contents">
<h1>Praise me!</h1>
<h2>生きているだけで褒められたい……<br>
大人だって褒められたい……</h2>
<br>
好みの美少女に、今日頑張ったことを報告してみて下さい。<br>
きっとアナタを褒めてくれるでしょう。<br>
<br>
褒められた内容は、Twitterで共有し、<br>
みんなにも見てもらいましょう。<br>
<br>
※美少女は随時追加予定！<br>
  </aside>
</div>

<br>
<br>

<div class="story">

<div class="one_line">
  <div class="face"><img src="/assets/01/face01.png"></div>
  <div class="baloon-area">
    <div class="balloon-left"><div class ="line-text">お疲れさん！<br>今日がんばったこと、ウチに教えて！</div></div>
  </div>
</div>

<div class="one_line">
  <div class="baloon-area">
    <div class="balloon-right">
     <div class="twiform">
        <%= form_tag(url_for(:action => 'ajax_create'), :remote => true) do %>
          <%= text_field_tag :contents %><br>
          <%= submit_tag "言う！" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="face">
    <img src="/assets/face.png">
  </div>
</div>

<span class="hid">
  <div class="one_line">
    <div class="face"><img src="/assets/01/face02.png"></div>
    <div class="baloon-area">
      <div class="balloon-left"><div class="final_line line-text"></div></div>
      <div class="balloon-left"><div class ="line-text">せっかくやしみんなにも見てもらお！</div>
      <form method="get" action="/auth/twitter">
          <input type="hidden" name="line_id" class="line_id" value="" />
          <input type="submit" value="ツイートする" />
        </form>
      </div>
    </div>
  </div>
</span>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<footer>
<p><small>&copy; 2019 hotaimo</small></p>
</footer>

</body>
</html>